$app-color: aquamarine;

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.tools {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding: 10px;
  background-color: $app-color;
  font-size: 38px;
  color: white;
}

.tool {
  display: none;
}

.mobile-menu {
  position: absolute;
  align-self: center;
  right: 25px;
}

.canvas {
  height: calc(100vh - 60px);
}
